/* ============================================================================
// Experience.css
//
// Styles for experience pages
// ============================================================================ */

.pageBannerImage {
    @apply m-2 w-full min-h-4 object-cover rounded-lg;
}

.pageTitle {
    @apply text-4xl font-bold text-purple-700 mx-4;
}

.externalLinkButton {
    @apply mx-4 px-4 py-4 bg-purple-800 text-white font-semibold rounded-3xl hover:bg-purple-900 transition-colors;
}

.pageDescription {
    @apply text-xl font-bold text-gray-700 mx-4;
}

.pageDateRange {
    @apply text-xl font-bold text-gray-600 mx-4;
}

.section { 
    @apply my-4 mx-4;
}

.sectionTitle {
    @apply text-2xl font-semibold text-gray-900 mb-4 underline-offset-1;
}

.contributionTitle {
    @apply font-bold text-purple-700 text-lg;
}

.challengeTitle {
    @apply my-2 font-bold text-purple-700 text-lg;
}

.challengeLabel {
    @apply font-semibold italic;
}

.challengeItem {
    @apply mx-2 mb-4;
}