/* ============================================================================
// Home.css
//
// Styles for the Home module
// ============================================================================ */

.section {
    @apply pt-2 pb-16 px-4 sm:px-6 lg:px-8 bg-white;
}

.sectionHeader {
    @apply text-2xl font-semibold text-gray-900 mb-4;
}